<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 导入 -->
    <script src="./vue.js"></script>
    <script>
        window.onload = function(){
            // 2,初始化
            var vm = new Vue({
                el:'#box', // element:元素
                data:{
                   isShow:false,
                   isOk:true

                },
            })
        }
    </script>
</head>
<body>
    <!-- 3,创建一个容器 -->
    <div id="box">
        <div v-if='isShow'>
            第一个div标签
        </div>

        <div v-if="isShow">
            第一个标签
        </div>
        <p v-else-if='isOk'>
            第二个p标签
        </p>
        <div v-if="isShow">
            第一个div标签
        </div>
        <div v-else>
            第二个div标签
        </div>

        <div v-if='ifShow'>
            第一个div标签
        </div>
        <p v-else-if="isOk">
            第二个p标签
        </p>
        <p v-else-if="isOk">
            第二个p标签
        </p>
        <p v_else-if='isOk'>
            第二个p标签
        </p>
        <div v-else>
            第二个div标签
        </div>

        <hr>

        <div v-if="isShow">
            第一个div标签
        </div>
        <div v_show="isShow">
            第二个div标签
        </div>
    </div>
</body>
</html>